body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.main-card{
    flex: display;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.main-card-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #222222;
    width: 500px;
}

.main-card-div h4{
    padding-bottom: 0;
    margin-bottom: 0;
}

.main-card-div:hover{
    background-color: #2222;
    cursor: pointer;
}